*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgb(0, 0, 0.8);
    backdrop-filter: blur(8px);
    color :white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.nav-links {
    display: flex;
    gap: 2rem;
}
li a{
    color: white;
    font-weight: 500;
    position: relative;
}
li a::before{
    position: absolute;
    content: '';
    width: 0%;
    left: 0%;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(255, 102, 0));
}
li a:hover::before{
    width: 100%;
}
.visit-bnt{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 102, 0), rgb(255, 0, 255));
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.visit-bnt:hover{
    transform: scale(1.03);
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(255, 102, 0));
}
#menu-icon{
    display: none;
    font-size: 2rem;
}
.home{
    min-height: 100vh;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.home img{
    width: 300px;
    border-radius: 50%;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}
.info-box h1{
    font-size: 4rem;
    font-weight: 600;
}
.info-box span{
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(255, 102, 0));
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
}

.btn-group{
    display: flex;
    gap: 1rem;
}
.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    background-color: white;
    color: black;
}
.btn:hover{
    background-color: black;
    color: white;
}
.socials{
    display: flex;
    gap: 2rem;
}
.socials a{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.section-title {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 2.5rem;
}
.about {
	padding-top: 110px;
}
.about-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.about-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: white;
}
.about-card:hover{
    transform: translateY(-10px) scale(1.02);
    background-color: black;
    color: white;
}
.about-card img{
    width: 80%;
    max-width: 220px;
    border-radius: 1rem;
}

.projects {
	padding-top: 110px;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: white;
}
.project-card:hover{
    transform: translateY(-10px) scale(1.02);
    background-color: black;
    color: white;
}
.project-card img{
    width: 80%;
    max-width: 220px;
    border-radius: 1rem;
}
.project-card:hover .btn{
    border: 2px solid white;
    color: white;
}
.project-card:hover .btn:hover{
    background-color: white;
    color: black;
}

.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
.input-box input{
    position: relative;
    border-radius: 3rem;
    border: 2px solid black;
    padding: 2rem 8rem;
    font-size: 3rem;
}
.input-box input::placeholder{
    font-size: 3rem;
}
.input{
    position: relative;
}
.input i{
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 10px;
    transform: translate(50%,-50%);
}

.copyright{
    font-size: 300;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media(max-width:1200px){
    header{
        gap: 2rem;
        padding: 1rem 2rem;
    }
    .home .home-container{
        gap: 3rem;
    }
    .about-info, .projects-info{
        flex-direction: column;
    }
    .input-box input{
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    .input-box input::placeholder{
        font-size: 2.5rem;
    }
    .input-box i{
        font-size: 2.5rem;
    }
}
@media(max-width:768px){
    header{
        gap: 1rem;
        padding: 1rem 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-bnt{
        display: none;
    }
    .home-container{
        flex-direction: column;
    }
    .input-box input{
        padding: 1rem 2rem;
        font-size: 1.8em;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .input-box i{
        display: none;
    }
    .grid{
        grid-template-columns: (1,1fr);
    }
}
@media(max-width:600px){
    header #menu-icon{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: black;
        border-radius: 3rem;
        display: none;
    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
    .home-container{
        width: 80vw;
    }
    .input-box input{
        padding: 0.5rem 3rem;
        width: 88%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
}